#txt {
    background-color: whitesmoke;
    /* background-image: url("ot.jpg");  */
    background-size: 100%;
      
  }

  #home{
    text-align: left;
    font-size: x-large;
  }
 
  #txt1{
      font-size: xx-large;
      text-align: center;
  }

  #skills{
    font-size : xx-large;
    text-align: justify;
  }

   img.responisve-img{
    
      transform: rotate(90deg);
      float:left;

  } 

  #skills{
       
     background-color: rgb(255, 71, 80);
  }

  #underline1{
    font-style: italic;
  }

  /* background-color: #F46A6A;
  color:#fff;
  max-width:800px;
  margin: 100px auto 0;
  text-align: center;
  display: table;
} */

/* .counter {
  display: table-cell;
  margin:1.5%;
  font-size:50px;
  background-color: #FF6F6F;
  width:200px;
  border-radius: 50%;
  height:200px;
  vertical-align: middle;
} */

  /* .container1{
    opacity:0.9;
    height:10px;
    width:100px;
  }

.centered {
  font-size: xx-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

  
  